<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Community Portal</title>
  <link rel="stylesheet" href="/public/css/Header.css">
  
</head>
<body>
  <header class="MainHeader">
    <div class="MainHConatainer">
      <h1 class="h1">Community Portal</h1>
      <nav>
        <ul class="nav">
          <li class="nav-item">
            <a class="Opt" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="Opt" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="Opt" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="Opt" href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni accusantium odit, nobis, maxime neque, illum ex sit harum facilis quod ipsa? Sunt recusandae rerum tenetur! Aut cum deserunt ad officiis.</p>
  <main class="container">

    <footer class="MFooter">
    <div class="Footcont">
      <p class="p1">&copy; <%= new Date().getFullYear() %> Community Portal</p>
      
      <div class="DivFooter">
        <a href="/about" class="FBasic">About</a>
        <a href="/contact" class="FBasic">Contact</a>
        <a href="/events" class="FSpecial">Events</a>
      </div>
    </div>
  </footer>